#navbar-custom {
    color: #FFFFFF;
    background-color:#4d0099;
}
body{
    /* background-color: #430099; */
    background-image: url("C:/Users/Ayesha/Documents/purple.jpg");
    background-size: cover;

}
.navbar a:hover {
    background: #f1f1f1;
    color: black;
  }
  #xyz
  {
      background-color: #4d0099;
  }
  #yu
  {
      background-color: #26004d;
  }
  #form-all {
      background-color: white;
    border-radius: 5px;
    border-block-start-color: #FFFFFF;
    border-width: 70%;

    border:white 2px;
    /* border-color:white; */
    }